python_app/data_streams/__pycache__/
video_server/cameras/__pycache__/
python_app/cameras/__pycache__/
node_server/node_modules/
node_server/__pycache__/
node_server/coverage/
python_app/cubemos/
video_server/anv/
node_server/env/
node_modules/
hololearn/
htmlcov/
venv/
video_server/haarcascade_frontalface_default.xml
python_app/haarcascade_frontalface_default.xml
final_version/node_server/package.json
node_server/.vscode/settings.json
.vscode/settings.json
.idea/
.vscode/
.coverage
*.mkv
*.xml
*.pyc
node_server/package-lock.json
node_server/user1.db
node_server/user1.db
node_server/user1.db
*.db
node_server/user1.db
*.db
*.exe
python_app/ffmpeg.exe
node_server/public/color_video.mp4
*.mp4
*.mp4
node_server/public/color_video.mp4
node_server/public/color_video.webm
python_app/venv1
virtualenv/
