#listEditor {
  position: absolute;
  width: 800px;
  left: calc((100% - 800px) / 2);
  border-radius: 6px;
  margin-top: 50px;
  border: solid black 1px;
  padding: 5px;

}

.lectureDiv {
  /* border: solid black 1px; */
  padding: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);

}

.editIcon {
  position: absolute;
  right: 150px;
  padding: 5px;
  border-radius: 3px;
  font-size: 24px;
}

.deleteIcon {
  position: absolute;
  right: 50px;
  padding: 5px;
  border-radius: 3px;
  font-size: 24px;
}

.editIcon:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
}

.deleteIcon:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
}

.editorCell{
  font-size:32px;
  margin-top: 25px;
  width: 500px;
  text-align: left;
  margin-left: 50px;
}

.alertBox {
  z-index: 10;
  position: absolute;
  border-radius: 10px;
  background: rgba(50, 50, 50);
  width: 600px;
  height: 200px;
  left: calc((100% - 600px) / 2);
  top: 200px;
}

.confirmButton {
  z-index: 11;
  position: absolute;
  border-radius: 5px;
  background: rgba(255, 255, 255);
  width: 125px;
  height: 50px;
  top: 150px;
}

.confirmButtonText {
  width: 
  left: ;
}