#webcam {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  height: 300px;
}

#selfView {
  height: 300px;
  z-index: 5;
}