.rotateUp {
  bottom: 10px;
  right: 10px;
}

.rotateRight {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 135px;
  right: -100px;
}

.rotateDown {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: 10px;
  right: 10px;
}

.rotateLeft {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  bottom: 135px;
  right: -100px;
}

#selfView {
  height: 300px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 5;
}

#rotateIcon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

#webcam {
  margin: auto;
}

#screenShareOption {
  width: 250px;
  margin-left: calc((100% - 250px) / 2);
  background: rgb(150, 150, 150);
  border: none;
}

#recordingNameInputDivScreenLecture {
  z-index: 10;
  position: absolute;
  bottom: 150px;
  height: 100px;
  left: calc((100% - 400px) / 2);
  width: 400px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}